/boost_*
/bzip2-*
/curl-*
/fmt-*
/freetype-*
/giflib-*
/harfbuzz-*
/Imath-*
/inih-*
/lcms2-*
/libjpeg-*
/libpng-*
/oiio-*
/openjpeg-*
/packagecache
/robin-map-*
/roboto-*
/SDL*
/sqlite-amalgamation-*
/tiff-*
/zlib-*
