[Desktop Entry]
Type=Application
Version=1.1
Name=Arcollect
Comment=Your personal visual artwork library.
DBusActivatable=true
Exec=arcollect
Terminal=false
Categories=Graphics;2DGraphics;Amusement;RasterGraphics;Viewer
