[Desktop Entry]
Type=Application
Version=1.1
Name=Arcollect
Comment=@ARCOLLECT_SUMMARY@
DBusActivatable=true
Exec=arcollect
Terminal=false
Categories=Graphics;2DGraphics;Amusement;RasterGraphics;Viewer
StartupWMClass=@ARCOLLECT_X11_WM_CLASS@
