<?xml version='1.0' encoding='us-ascii'?>
<?include $(config_wxi) ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" RequiredVersion="$(ARCOLLECT_WIX_MIN_VERSION)" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Arcollect" Manufacturer="DevilishSpirits" UpgradeCode="$(ARCOLLECT_MSI_UPGRADECODE)" Scope="perMachine" Version="$(ARCOLLECT_VERSION)">
		<!-- Install folder -->
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="TargetDir" Name="Arcollect"/>
		</StandardDirectory>
		
		<SoftwareTag InstallDirectory="TargetDir" Regid="d-spirits.me"/>
		<MajorUpgrade Schedule="afterInstallInitialize" IgnoreLanguage="yes" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.ArcollectDowngradeErrorMessage)"/>
		
		<!-- Features -->
		<Feature Id="desktop_app" Title="ArcollectFeature_desktop_app_Title" Description="ArcollectFeature_desktop_app_Desc">
			<Component Guid="7D81775F-83F1-4F22-985B-FDB3C8ABD471" Directory="TargetDir">
				<File Name="arcollect.exe" Source="$(built_arcollect_exe)" KeyPath="yes">
					<Shortcut Directory="ProgramMenuFolder" Name="Arcollect" Icon="arcollect.exe" IconIndex="0" Advertise="yes" />
					<Shortcut Directory="DesktopFolder" Name="Arcollect" Icon="arcollect.exe" IconIndex="0" Advertise="yes" />
				</File>
			</Component>
		</Feature>
		
		<Feature Id="webext_adder" Title="ArcollectFeature_webext_adder_Title" Description="ArcollectFeature_webext_adder_Desc">
			<Component Id="NativeMessagingHost" Directory="TargetDir">
				<File Name='arcollect-webext-adder.exe' Source='$(built_webext_adder_exe)' KeyPath="yes"/>
			</Component>
			<Component Id="NativeMessagingFirefox" Guid='441491DA-5A6B-4C01-8A8D-DF3E7E2F4123' Directory="TargetDir">
				<File Name='native-message-firefox.json' Source='$(built_mozilla_manifest)' KeyPath="yes"/>
				<RegistryKey Root="HKLM" Key="SOFTWARE\Mozilla\NativeMessagingHosts\arcollect_webext_adder">
					<RegistryValue Type="string" Value="[TargetDir]native-message-firefox.json"/>
				</RegistryKey>
			</Component>
		</Feature>
		
		<!-- Webextension (optionnal) -->
		<?ifdef ARCOLLECT_WEBEXT_ZIP_PATH ?>
		<Feature Id="webextension_firefox" Level="0">
			<Component Directory="TargetDir">
				<File Id="WebextensionFirefoxXPI" Name='arcollect-$(ARCOLLECT_VERSION).xpi' Source='$(ARCOLLECT_WEBEXT_ZIP_PATH)' KeyPath="yes"/>
			</Component>
		</Feature>
		<CustomAction Id="InstallWebextensionFirefox" FileRef="WebextensionFirefoxXPI" ExeCommand="" Impersonate="yes" Return="asyncNoWait"/>
		<?endif?>
		
		<Icon Id="arcollect.exe" SourceFile="$(built_arcollect_exe)" />
		<!-- UI stuff -->
		<UI>
			<Dialog Id="ArcoWebextDialog" Width="370" Height="270" Title="!(loc.ArcollectWebextTitle)">
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUINext)" />
				<Control Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
				<Control Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
				<Control Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
				<Control Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Type="Hyperlink" X="135" Y="70" Width="220" Height="50" Transparent="yes" Text="!(loc.ArcollectWebextDescription)" />
				<Control Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.ArcollectWebextTitle)" />
				<?ifdef ARCOLLECT_WEBEXT_ZIP_PATH ?>
				<Control Type="PushButton" X="135" Y="200" Width="100" Height="17" Text="Install for Firefox">
					<Publish Event='DoAction' Value='InstallWebextensionFirefox'/>
				</Control>
				<?endif?>
			</Dialog>
			<Publish Dialog="ArcoWebextDialog" Control="Next" Event="EndDialog" Value="Return" Order="999" />
		</UI>
		
		<InstallUISequence>
			<Show Dialog="ArcoWebextDialog" After="ExecuteAction" Condition="NOT Installed" />
		</InstallUISequence>
		
		<ui:WixUI Id="WixUI_Minimal"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(copying_rtf_path)" />
	</Package>
</Wix>
